<!DOCTYPE html>
<html>
  <head>
    <title>Clinic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <% current_tag = `git describe --tags` %>
    <% commit_version = `git rev-parse --short HEAD` %>
    <footer class="build-info">
      <span>Build information: <%=  "version: #{current_tag}, commit: #{commit_version}," %></span>
      <%= link_to('Status page', 'https://clinic.betteruptime.com') %>
    </footer>
  </body>
</html>
